<h3>
  Junior Software Tester, TuGo, Richmond, BC 2015-Present  
</h3>
<p>
  <ul>
    <li>Developed and maintained automated WebDriver tests in Java, which in turn discovered and identified over 20 regressions within the first two months</li>
    <li>Created automated pricing tests against TuGo’s REST web service, which increased productivity during the price verification process in the Product Development Department</li>
    <li>Integrated Logstash, Elasticsearch and Grafana tools in order to build a performance reporting platform for TuGo’s websites</li>
    <li>Extended Grafana’s front end in AngularJS to add a breadcrumb and a drill down feature</li>
    <li>Diagnosed, analyzed, and inspected TuGo’s sytems and services, including REST web services, relational databases, and user interfaces to ensure quality control, which resulted in the discovery of over 100 faults in the system</li>
  </ul>
</p>