<h3>
    <a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span class="octicon octicon-link"></span></a>About Me
</h3>
    <p>Avid and diligent 3rd year Computer Engineering student with a strong passion for algorithms,
        mathematics and software development. Huge interest in competitive programming. Member of UBC ACM team. View my GitHub account <a href="https://github.com/cweny">here</a>.</p>
<br/>
<h3>
    <a id="designer-templates" class="anchor" href="#designer-templates" aria-hidden="true"><span class="octicon octicon-link"></span></a>Education
</h3>
    <h4>
        B.A.Sc. Computer Engineering, University of British Columbia, Vancouver, BC
    </h4>
    <p>
        <ul>
            <li>Basic Data Structures and Algorithms, Intermediate Algorithm Analysis and Design</li>
            <li>Introduction to Relational Databases, Operating Systems</li>
            <li>Linear Systems, Elementary Statistics</li>
        </ul>
    </p>
<br/>
<h3>
    <a id="creating-pages-manually" class="anchor" href="#creating-pages-manually" aria-hidden="true"><span class="octicon octicon-link"></span></a>Extracurricular Activities
</h3>
<p>
    <h4>UBC ACM Team, University of British Columbia, Vancouver, BC
        <span class="pull-right">2015</span>
    </h4>
    <ul>
        <li>Selected for the UBC ACM Team after two tryouts with over 50 participants</li>
        <li>Obtained 6 th place in ACM-ICPC 2015 regional division 2</li>
        <li>Facebook Hacker Cup 2016 - Qualified for round 1</li>
    </ul>
</p>

<p>
    <h4>Math Olympics, Saint Mary’s School, Panama City
        <span class="pull-right">2009-2011</span>
    </h4>
        <ul>
            <li>
                Awarded 3 consecutive gold medals in a mathematics based competition by successfully
                analyzing and solving problems        
            </li>
        </ul>   
</p>
<br/>
<h3>
    Technical Skills
</h3>
<p>
    <ul>
        <li>Main: C++, Java, Javascript</li>
        <li>Others: C, Python, SQL, AngularJS, Django, VHDL</li>
        <li>Operating Systems: Windows, Linux Ubuntu</li>
        <li>Tools: Emacs, GDB, g++, Eclipse, Visual Studio</li>
    </ul>
</p>
