 Message REST Web Service – personal project o Developed a REST web service with JAX-RS and JDBC to manage messages in a database o Supported CRUD operations in a MySQL database with http methods: GET, POST, PUT,

DELETE o Utilized Postman extension in Google Chrome to test the API

 Connect 4 Artificial Intelligence – personal project o Implemented negamax and alpha beta pruning algorithms to find the next nearly optimal move in Connect 4 game

o Available at: http://cweny.github.io/Connect4 o Source code: https://github.com/cweny/Connect4

 MozStumbler – Open Source Project o Created an android widget application to turn on and off the MozStumbler scanning function to improve usability

o Implemented an unsupported toggle button for the android widget

 QR Code App – personal project o Developed an Android application capable of storing data and displaying it as a QR code resulting in greater knowledge of mobile app development

o Utilized SQLite to store, retrieve, and manage data

o Researched about Android development practices and QR code generation to create a functional application

 Electromagnetic Tether Robot o Designed, built and tested an autonomous robot capable of following an electromagnetic beacon and receiving data from electromagnetic signals

o Programmed a microcontroller in C to process voltages and control two electric motors according to these values  Other personal projects: o Tic-Tac-Toe game implemented with minimax algorithm o Snake Game developed with OpenGL