<div class="row timeline">
    <div class="col-md-6 left-content">
        <p ng-repeat="project in projects" ng-if="$odd">
            <a bs-tooltip title="{{project.time}}" data-placement="left" class="timeline-el" href="{{project.url}}">{{project.title}}</a>
        </p>
    </div>
    <div class="col-md-6 right-content">
        <p ng-repeat="project in projects" ng-if="$even">
            <a bs-tooltip title="{{project.time}}" data-placement="right" class="timeline-el" href="{{project.url}}">{{project.title}}</a>
        </p>
    </div>
</div>