<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    
    <link rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen">
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular-sanitize.min.js"></script>
    <script src="main.js"></script>
    <script src="partials/projectsCtrl.js"></script>
    <script src="partials/projects/projectCtrl.js"></script>
    <title>Carlos Wen</title>
  </head>

  <body ng-app="profile" ng-controller="AppCtrl">
    <header >
      <div class="container">
        <h1>Carlos Wen</h1>
        <h2></h2>

        <section id="links">
          <ul class="nav nav-pills">
            <li ng-repeat="tab in tabs"><a href="{{tab.url}}">{{tab.title}}</a></li>
          </ul>
          <!--<a href="{{tab.url}}" ng-repeat="tab in tabs" class="btn">{{tab.title}}</a>-->
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        <div ng-view></div>
      </section>
    </div>
    
    <footer class="footer">
      <div class="container">
      <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-2">
          <a href="https://github.com/cweny"><img src="images/blacktocat.png"></a>
        </div>
        <div class="col-md-5">
        </div>
      </div>
      </div>
    </footer>
  </body>
</html>