<div>
    <h3>
        Other personal projects
    </h3>
</div>
<h4>
    Tic-Tac-Toe game
    <a href="https://github.com/cweny/Projects/blob/master/tictactoe/main.cpp" class="pull-right btn-small btn-github"><span class="icon"></span>View on GitHub</a>
</h4>
    <p>
        Implemented with minimax algorithm
    </p>
<h4>
    Snake Game
    <a href="https://github.com/cweny/Projects/blob/master/SnakeGame/main.cpp" class="pull-right btn-small btn-github"><span class="icon"></span>View on GitHub</a>
</h4>
<p>
    Developed with OpenGL
</p>